@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');


.container-logar{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #9984CD;
}

.area-logar{
  width: 20%;
  height: 450px;
  flex-shrink: 50;
  border-radius: 20px 0px 0px 20px;
  background: #FFF;
}

.area-logar h1{
  color: #000;
  font-size: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: bolder;
  margin-top: 20px;
  padding-left: 10%;
}

.area-logar input::placeholder{
  color: #808080;
  font-size: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  padding-left: 25px;
}

.area-logar button{
  width: 80%;
  height: 40px;
  margin-left: 10%;
  border: none;
  border-radius: 45px;

  background: radial-gradient(109.18% 2536.25% at 52.04% 100.00%, #8161C4 0%, #DDD1FC 100%);
  color: #FFF;
  font-size: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.area-logar h2{
  color: #808080;
  font-size: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  padding-left: 15%;
  padding-top: 10px;
}

.area-logar botao-login{
  width: 80%;
  height: 40px;
  margin-left: 10%;
  border: none;
  border-radius: 45px;

  background: radial-gradient(109.18% 2536.25% at 52.04% 100.00%, #8161C4 0%, #DDD1FC 100%);
  color: #FFF;
  font-size: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.area-logar button a{
  color: #FFF;
  text-decoration: none;
}

.area-logar a{
  color: #8161C4;
  text-decoration: none;
}


.area-limpa{
  width: 40%;
  height: 450px;
  border-radius: 0px 20px 20px 0px;
}




